.account {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    overflow: hidden;
    z-index: 999;
    width: 0px;
    top: 50px;
    left: 0;
    bottom: 0;
    transition: ease-in-out 0.2s;

    .form-group {
        margin: 10px;
    }
    
    .form-control {
        margin-bottom: 10px;
        font-size: 12px;
    }
}