<div class="account" [ngStyle]="{'width': _account.display ? '200px' : '0px'}">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username"/>
    <input type="password" class="form-control" placeholder="Password"/>
    <button class="form-control btn btn-primary" [routerLink]="healthrecords">Login</button>
  </div>
</div>