<div class="container health-records">
  <div class="row">
      <table class="table health-records-table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date ▼</th>
              <th scope="col">Person</th>
              <th scope="col">Sleep quantity</th>
              <th scope="col">Sleep quality</th>
              <th scope="col">Activity</th>
              <th scope="col">Medication</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of getRecords(); let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ _dataFormatter.formatDate(record.date) }}</td>
              <td>{{ record.person }}</td>
              <td>{{ record.sleep }}</td>
              <td>{{ record.sleep_quality }}</td>
              <td>{{ record.activity }}</td>
              <td>{{ record.medication }}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>

{{ records }}
