.health-records {
    height: 400px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.health-records-table {
    font-size: 12px;

    th {
        padding: 0rem;
    }

    thead {
        th {
            border-bottom: 1px solid #dee2e6;
            background-color: #dee2e6;
        }
    }
    tbody {
        td {
            padding: 0rem;
        }
    }


}