<div class="container toolbar">
    <form class="form-inline" [formGroup]="controlbar">
        <div class="form-group">
            <div class="dropdown">
                <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Filter: '+ _dataFormatter.filterType.charAt(0).toUpperCase() + _dataFormatter.filterType.slice(1, _dataFormatter.filterType.length) }}
                </a>
                <div class="dropdown-menu" aria-labelledby="filtersDropdown">
                    <a class="dropdown-item" (click)="_dataFormatter.setFilterType('person')">Person</a>
                    <a class="dropdown-item" (click)="_dataFormatter.setFilterType('sleep')">Sleep</a>
                    <a class="dropdown-item" (click)="_dataFormatter.setFilterType('medication')">Medication</a>
                    <a class="dropdown-item" (click)="_dataFormatter.setFilterType('sleep_quality')">Sleep Quality</a>
                    <a class="dropdown-item" (click)="_dataFormatter.setFilterType('activity')">Activity</a>
                    <a class="dropdown-item" (click)="_dataFormatter.setFilterType('physical_condition')">Physical condition</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" formControlName="terms" placeholder="Filter terms.."/>
        </div>
        <div class="form-group">
            <div class="btn btn-primary add-button" (click)="addFilter()">Add</div>
        </div>
        <div class="form-group">
            <div class="range">
                <mat-form-field>
                    <input matInput [matDatepicker]="rangeBegin" formControlName="rangeBegin" placeholder="Begin">
                    <mat-datepicker-toggle matSuffix [for]="rangeBegin"></mat-datepicker-toggle>
                    <mat-datepicker #rangeBegin></mat-datepicker>
                </mat-form-field>
                </div>
            <div class="range">
                <mat-form-field>
                    <input matInput [matDatepicker]="rangeEnd" formControlName="rangeEnd" placeholder="End">
                    <mat-datepicker-toggle matSuffix [for]="rangeEnd"></mat-datepicker-toggle>
                    <mat-datepicker #rangeEnd></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div class="container filters-container card toolbar">
    <p>Filters:</p>
    <form class="form-inline">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" *ngFor="let filter of getFilters()" (click)="_dataFormatter.removeFilter(filter)" >{{ filter.prop+":"+filter.value  }}</button>
                </div>
            </div>
        </div>
    </form>
</div>