.toolbar {
    padding: 0px;
    
    * {
        font-size: 12px;
    }

    .form-group {
        margin-right: 10px;
    }
}

.mat-form-field {
    width: 80px;
    margin-right: 10px;
}

.filters-container {
    padding: 10px;
    margin-bottom: 10px;

    .filter {
        background-color: #efefef;
        border: 1px solid #ededed;
        margin-right: 10px;
    }
}

