<div class="container-fluid charts">
    <div class="row">
        <div class="card chart-control">
            <h5 class="card-title">View settings</h5>
            <div class="card-body ">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="scrollSim">
                    <label class="form-check-label" for="scrollSim">Scroll simultaneously</label>
                </div>
            </div>
        </div>
        <div class="chart" *ngFor="let data of getData()">
            <div class="text">{{data.text}}</div>
            <div class="bar-wrap" *ngFor="let value of data.values">
                <div class="bar" [ngStyle]="{
                    'height': (value / 24 *100) + '%',
                    'background-color': _dataFormatter.getColor(data.text, value)}"></div>
            </div>
        </div>
    </div>
</div>