.chart-control {
    margin: 0px 10px;
    padding: 10px;
    
    .card-body {
        padding: 0px;
    }

    h5 {
        font-size: 12px;
    }
}

.charts {
    font-size: 12px;
}

.chart {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid #efefef;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 10px;
    padding-bottom: 18px;

    .text {
        font-size: 12px;
        background-color: #efefef;
    }
}
.bar-wrap {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 4px;

    .bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #dee2e6
    }
}
