<div class="level" [ngClass]="{'top': _menu.orientation === 'top', 'left': _menu.orientation === 'left'}"*ngFor="let level of _menu.structure.levels" 
    [ngStyle]="{'height': _menu.orientation === 'top' ? level.size : auto,
                'width': _menu.orientation === 'left' ? level.size : auto}"> {{orientation}}
    <div class="text">
        <a class="level-link" (click)="_menu.action('closeUntil', level.id)">
            {{level.text}}
        </a>
    </div>
    <div class="wrapper">
        <div class="item" *ngFor="let item of _menu.getList(level.listId, _menu.structure).items">
            <a class="item-link" (click)="_menu.action(item.type, item.path)">
              {{item.text}}
            </a> 
          </div> 
    </div>
</div>