.level {
    position: fixed;
    transition: 0.2s ease-in-out;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    z-index: 999;
    
    .text {
        position: absolute;
        font-size: 14px;
        line-height: 50px;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        text-align: left;
        margin: 0;
        box-sizing: border-box;
    }

    .level-link {
        display: block;
        padding: 10px;
        font-size: 12px;
        line-height: 12px;
        height: 30px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .item {
        position: relative;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        float: left;
        box-sizing: border-box;

        .item-link {
            display: block;
            padding: 10px;
            font-size: 10px;
            line-height: 10px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }
        .item-link:hover {
            background-color: rgba(0,0,0,0.5);
        }
    }
}

.level.top {
    left: 0;
    top: 50px;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;

    .text {
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
    }

    .item {
        width: 150px;
        height: 30px;
    }
}

.level.left {
    left: 0;
    top: 50px;
    bottom: 0;
    
    .wrapper {
        margin-right: 30px;
        height: 100%;
        overflow-x: auto;
    }

    .text {
        top: 0;
        bottom: 0;
        right: 0;
        width: 30px;

        .level-link {
            position: relative;
            height: 100%;
            writing-mode: tb-rl;
        }
    }

    .item {
        width: 100%;
        height: 30px;
    }
}