<div class="header">
  <div class="btn btn-default">
    <a (click)="_menu.action('toggle', 0)">
      {{_menu.opened.length > 0 ? '⊗' : '≡' }}
    </a>
  </div>
  <div class="btn btn-default">
    <a (click)="_menu.toggleOrientation()">
      {{_menu.orientation === 'top' ? '◄' : '▲'}}
    </a>
  </div>
  <div class="btn btn-default">
    <a (click)="_account.toggle()">
        {{_account.display === false ? '■' : '○'}}
    </a>
  </div>
</div>
