.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0,0,0,1);

    .btn {
        float: left;
        padding: 0;
        color: #fff;
        margin: 0;
        font-size: 10px;
        width: auto;
        height: auto;
        cursor: pointer;
        border: none;
        border-radius: 0px;

        a {
            padding: 15px 0px;
            box-sizing: border-box;
            height: 50px;
            width: 50px;
            display: block;
            cursor: pointer;
            transition: ease-in-out 0.2s;
        }

        a:hover {
            background-color: rgba(255,120,255, 0.2);
        }
    }
}