<div class="row no-gutters">
  <div class="col-md-8">
      <app-toolbar [data]="getRecords()"></app-toolbar>
      <app-list [data]="getRecords()"></app-list>
  </div>
  <div class="col-md-4">
      <app-chart [data]="getRecords()"></app-chart>
  </div>
</div>